<section id="Section-1">
  <div class="container">
    <div class="row">
      <div class="span6 page-header color-white" >
        <h3 style="padding-top:50px;">My Surveys</h3>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 color-white">
        <div class="row-fluid">
          <div class="span12">
            <p class="lead"><% @current_user.surveys.each do |survey| %>
              <h3><%= survey.name %></h3>
              <h4><a id="edit-survey-form-<%= survey.id %>" href="/survey/<%= survey.id%>/edit">Edit Survey</a></h4>
              <div id="append-survey-<%= survey.id %>"></div>
              <h4><a id="view-results-<%= survey.id %>" href="/survey/<%= survey.id%>/results">View Results</a></h4>
              <div id="append-results-<%= survey.id %>"></div>
            </p>

            <script type="text/javascript">

            $(document).on('click', '#edit-survey-form-<%= survey.id %>', function(event) {
              event.preventDefault();

              var url = $('#edit-survey-form-<%= survey.id %>').attr('href');
              console.log(url);

              $.get(url, function(serverResponse) {
                $('#append-survey-<%= survey.id %>').html(serverResponse);
              })
            });

            $(document).on('submit', '#edit_survey-<%= survey.id %>', function(event) {
              event.preventDefault();

              var data = $('#edit_survey-<%= survey.id %>').serialize();

              $.post('/edit_survey', data, function(serverResponse) {
                $('#survey_edit_form').remove();
              })
            });

            $('#view-results-<%= survey.id %>').on('click', function(event) {
              event.preventDefault();

              var view_url = $(this).attr('href');

              $.get(view_url, function(serverResponse) {
                $('#append-results-<%= survey.id %>').html(serverResponse);
              })
            });

            $(document).on('click', '#back_link', function(event) {
              event.preventDefault();
              $('#append-results-<%= survey.id %>').children().remove();
            });

            $(document).on('submit','#delete_survey-<%= survey.id %>', function(event) {
              event.preventDefault();

              var delete_url = $(this).attr('action');

              $.get(delete_url, function(serverResponse) {
                $('#survey_edit_form').toggle();
                location.reload();
              })
            });
            </script>
            <% end %>
          </div>
        </div>
      </div><!-- /INNER ROW-FLUID-->
    </div><!-- SPAN6-->
  </div>
</div><!-- / CONTAINER-->
</section>

<!-- / SECTION-1 -->
