<section id="Section-1">
  <div class="container offset4">
    <div class="row">
      <div class="span6 page-header color-white" >
        <h3 style="padding-top:50px;">Click the button to vote for your choice: </h3>
      </div> 
    </div>
    <div class="row-fluid">
      <div class="span6 color-white">
        <div class="row-fluid">
          <div class="span12">    
            <div id="take_survey">
            <h1>Survey: <%= @survey.name %></h1>
            <form action="/survey/<%= @survey.id %>/record" method="POST" id="survey_submit">
            <h3><% @survey.questions.each do |question| %>
            Question: <%= question.content %></h3>
            <% question.choices.each do |choice| %>
            <div class="radio_button_option">
              <input type="radio" name="<%= question.id %>" value="<%= choice.id %>"> <%= choice.content %>
            </div>
           <% end %>
           <% end %><hr>
           <input type="submit" value="Submit">
           </form>
           </div>
          </div>
        </div><!-- /INNER ROW-FLUID-->
      </div><!-- SPAN6-->
    </div>  
  </div><!-- / CONTAINER-->
</section>

<script type="text/javascript">

  $('#survey_submit').on('submit', function(event) {
    event.preventDefault();

    var url= $(this).attr('action')
    var data = $(this).serialize();

    $.post(url, data, function(serverResponse) {
      console.log(serverResponse);
      $('#take_survey').html(serverResponse);
    })
  });
</script>