
<h3> <%= @survey.name %> Results</h3>
<p><b>Number of Responses: <%= @total_responses %></b></p>

<div>
  <% @survey.questions.each do |question| %>
  <p>Question: <%= question.content %></p>
    <div class='choices'>
      <p>Choices: </p>
      <% question.choices.each do |choice| %>
        <p><%= choice.content %>: <%= choice.responses.count %></p>
      <% end %>
    </div>
  <% end %>
  <a id="back_link" href="/user/<%= current_user.id %>/surveys">Back</a>
</div>
